<div style="max-width: 350px;">
  <div class="btn-group" role="group" aria-label="Recipe categories">
    <button type="button" class="btn btn-secondary" (click)="getAllRecipes()">All</button>
    <button type="button" class="btn btn-secondary" *ngFor="let opt of opts" (click)="getAllByCategory(opt.id)">{{opt.name}}</button>
  </div>
  <div class="list-group ml-0 mb-5" style="max-height: 850px; overflow: scroll; -webkit-overflow-scrolling: touch">
    <a *ngFor="let recipe of recipes" routerLink="/recipe/{{recipe.recipeId}}">{{recipe.recipeName}}</a>
  </div>
</div>
