<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <app-recipes></app-recipes>
    </div>
    <div class="col-9">
      <app-search-recipe></app-search-recipe>
      <br>
      <br>
      <h1 class="display-3 text-center">{{recipe.recipeName}}</h1>
      <br>
      <br>
      <br>
      <h4>Ingredients:</h4>
      <br>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let ing of recipe.ingredientsList">{{ing.ingredientName}} {{ing.quantity}}</li>
      </ul>
      <br>
      <br>
      <h4>Instructions:</h4>
      <br>
      <p class="border border-light rounded">{{recipe.instructions}}</p>
      <br>
      <br>
      <h4>Serving suggestions:</h4>
      <br>
      <p class="border border-light rounded">{{recipe.suggestions}}</p>
      <br>
      <br>
      <br>
      <div class="row">
        <div class="col-2">
          <button type="button" class="btn btn-info"><a routerLink="/update_recipe/{{recipe.recipeId}}" style="text-decoration: none; color: white">Update recipe</a></button>
        </div>
        <div class="col-10">
          <button type="button" class="btn btn-danger" (click)="deleteThisRecipe()">Delete recipe</button>
        </div>
      </div>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>
