<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <div class="card bg-light">
        <div class="card-body">
          <h4>{{recipes[0].recipeName}}</h4>
          <strong class="text-info" style="font-size: small">Last accessed at {{recipes[0].lastAccessed | date: 'HH:mm:ss dd MMM yyyy'}}</strong>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card bg-light">
        <div class="card-body">
          <h4>{{recipes[1].recipeName}}</h4>
          <strong class="text-info" style="font-size: small">Last accessed at {{recipes[0].lastAccessed | date: 'HH:mm:ss dd MMM yyyy'}}</strong>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card bg-light">
        <div class="card-body">
          <h4>{{recipes[2].recipeName}}</h4>
          <strong class="text-info" style="font-size: small">Last accessed at {{recipes[0].lastAccessed | date: 'HH:mm:ss dd MMM yyyy'}}</strong>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card bg-light">
        <div class="card-body">
          <h4>{{recipes[3].recipeName}}</h4>
          <strong class="text-info" style="font-size: small">Last accessed at {{recipes[0].lastAccessed | date: 'HH:mm:ss dd MMM yyyy'}}</strong>
        </div>
      </div>
    </div>
  </div>
</div>
