<div class="container-fluid mt-5">
  <h1 class="text-center">Create new recipe</h1>
  <div class="row mt-5">
    <div class="col-2"></div>
    <div class="col-8">
      <form name="newRecipeForm" #f="ngForm" (ngSubmit)="f.form.valid && sendRecipe()">

        <div class="form-group my-3">
          <label for="recipeNameInputField">Enter recipe name:</label>
          <input type="text"
                 class="form-control"
                 id="recipeNameInputField"
                 placeholder="Recipe name"
                 [(ngModel)]="model.recipeName"
                 name="recipeNameInputField"
                 #name="ngModel"
                 [ngClass]="{ 'is-invalid': f.submitted && name.invalid }"
                 required/>
          <div *ngIf="f.submitted && name.invalid" class="invalid-input">
            <div *ngIf="name.errors?.required">Name is not valid</div>
          </div>
        </div>

        <div class="form-group my-3">
          <label for="recipeCategoryControlSelect">Select category</label>
          <select class="form-control" (change)="filterCategory($event.target.value)" id="recipeCategoryControlSelect">
            <option *ngFor="let opt of opts" [value]="opt.id">{{opt.name}}</option>
          </select>
        </div>

        <div>
          <label for="ingredientInputForm">Enter ingredients:</label>
          <form class="form-inline" id="ingredientInputForm">
            <input type="text" class="form-control col-6 mr-2" name="ingredientName" placeholder="Enter ingredient here" [(ngModel)]="ingredient.ingredientName" >
            <input type="text" class="form-control col-4 mr-2" name="ingredientQuantity" placeholder="Enter quantity" [(ngModel)]="ingredient.quantity" >
            <button type="submit" class="btn btn-success" (click)="addToIngredientsList()">Add ingredient</button>
          </form>

          <div class="container-fluid">
            <ul class="list-group list-group-flush ml-1 mr-5 mt-4" style="max-height: 250px; overflow: scroll; -webkit-overflow-scrolling: touch">
              <li *ngFor="let ing of model.ingredientsList">{{ing.ingredientName}} {{ing.quantity}}</li>
            </ul>
          </div>
        </div>

        <div class="form-group my-3">
          <label for="instructionsTextArea">Enter instructions:</label>
          <textarea class="form-control"
                    id="instructionsTextArea"
                    rows="8"
                    [(ngModel)]="model.instructions"
                    name="instructionsTextArea"
                    #instructions="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && instructions.invalid }"
                    required
                    minlength="10"></textarea>
          <div *ngIf="f.submitted && instructions.invalid" class="invalid-input">
            <div *ngIf="instructions.errors?.required">Field is required</div>
            <div *ngIf="instructions.errors?.minlength">Field is too small (needs more than 10 characters)</div>
          </div>
        </div>

        <div class="form-group my-3">
          <label for="suggestionsTextArea">Serving suggestions:</label>
          <textarea class="form-control"
                    id="suggestionsTextArea"
                    rows="8" [(ngModel)]="model.suggestions"
                    name="suggestionsTextArea"></textarea>
        </div>

        <div class="container-fluid my-5">
          <div class="row">
            <div class="col-7"></div>
            <div class="col"></div>
            <div class="col">
              <button type="submit" class="btn btn-info">Add recipe</button>
            </div>
          </div>
        </div>

      </form>
    </div>
    <div class="col-2"></div>
  </div>
</div>
