<div class="container-fluid">
  <div *ngIf="info.token; else loggedOut">
    <div class="row">
      <div class="col-3">
        <app-recipes></app-recipes>
      </div>
      <div class="col-9">
        <app-search-recipe></app-search-recipe>
        <br>
        <br>
        <br>
        <br>
        <h2 class="display-3">Welcome to CookBook - a recipe database application</h2>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <button class="btn btn-secondary" (click)="logout()">Logout</button>
      </div>
    </div>
  </div>

  <ng-template #loggedOut>
    Please login.
  </ng-template>
</div>
